header {
  text-align: center;
  padding: 3rem;
  background-color: black;
  /* color: white; */
  margin-left: 10px;
  margin-bottom: 60px;
}
#albums {
  text-align: center;
}

#dis {
  text-align: center;
  /* color: whitesmoke; */
}
#footer {
  text-align: center;
}
#h{
  margin-bottom: 50px;
  /* color: whitesmoke; */
}
#dis2{
  margin-bottom: 30px;
  /* color: whitesmoke; */
}
.img {
  border-radius: 100%;
  opacity: 1;
  transition: 0.5s ease;
}
.imgs {
  border-radius: 100%;
}
.img:hover {
  opacity: 0.3;
}
#about {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  font-family: Tahoma;
}
#h2{
  margin-bottom: 50px;
  /* color: whitesmoke; */
}
#headImage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Tahoma;
  gap: 20px;
  /* border-radius: 100%; */
  margin-bottom: 60px;
  /* color: whitesmoke; */
}
.fImg {
  border-radius: 100%;
  transition: transform ease 0.6s;
}
.fImg:hover {
  transform: translateY(-6px);
}
.topnav {
  overflow: hidden;
  background-color: black;
  margin-left: 10px;
}
.topnav a {
  float: right;
  /* color: #f2f2f2; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #fdebd0;
  /* color: black; */
}
.topnav a.active {
  /* background-color: #04AA6D; */
  /* color: white; */
}
#AllImg{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: Tahoma;
  /* color: whitesmoke; */
}

body {
  background-color: var(--background-color, whitesmoke);
  color: var(--text-color, black);
  font-family: Tahoma;
  transition: background-color 0.5s, color 0.5s,
    background-image 0.5s ease-in-out;
}
#DB {
  background-color: var(--nbackground-color, #b6b6b1);
  color: var(--text-color, black);
  transition: background-color 0.5s, color 0.5s,
    background-image 0.5s ease-in-out;
}
a {
  color: var(--text-color, black);
}
header {
  background-color: var(--header-bg, #b6b6b1);
  color: var(--text-color, black);
  transition: background-color 0.5s, color 0.5s;
}
.topnav {
  background-color: var(--nav-color, #b6b6b1);
  color: var(--text-color,black);
}

/* dark mode */
body.dark-mode {
  --background-color: #71706e;
  --text-color: whitesmoke;
  --header-bg: #222222;
  --nbackground-color: #222222;
  --nav-color: #222222;
  background-image: url("../images/caio-silva-C7RFkKvThG4-unsplash.jpg");
}
body.light-mode {
  --background-color: whitesmoke;
  --text-color: black;
  --header-bg: #b6b6b1;
  --nbackground-color: #b6b6b1;
  --nav-color: #b6b6b1;
  background-image: url("../images/jj-ying-7JX0-bfiuxQ-unsplash.jpg");
}

button {
  float: right;
  width: 80px;
  height: 47px;
  color: white;
  border: none;
  font-family: Monospace;
  font-size: large;
}
button:hover {
  background-color: #fdebd0;
  color: black;
}
#DB {
  font-size: large;
}
#DB:hover{
  background-color: #fdebd0;
  color: black;
}

#DB img {
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}