header {
  text-align: center;
  padding: 3rem;
  background-color: black;
  color: aliceblue;
  margin-bottom: 1px;
}
#headImg {
  height: 200px;
  /* border-radius: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img {
  opacity: 1;
  transition: 0.5s ease;
}
.img:hover {
  opacity: 0.3;
}
.imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* width: 10px */
}
#dis {
  text-align: center;
  margin-bottom: 100px;
}
#dis2 {
  margin-left: 50px;
  margin-right: 50px;
}
#albemHead {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
