header {
  text-align: center;
  padding: 3rem;
  /* background-color: black; */
  color: aliceblue;
  margin-bottom: 1px;
  margin-left: 10px;
}
button {
  /* background-color:black; */
  float: right;
  width: 80px;
  height: 47px;
  color: white;
  border: none;
  font-family: Monospace;
  font-size: large;
}
button:hover {
  background-color: #fdebd0;
  color: black;
}
.album1 {
  border: 1px solid black;
  width: 200px;
  height: 250px;
  margin-top: 20px;
  /* margin-right: 40px; */
  display: inline-block;
  background-color: azure;
  border-radius: 8px;
  box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease 0.6s, box-shadow ease 0.6s;
  text-align: center;
  font-family: Monospace;
  font-size: large;
  margin-right: 15px;
  margin-left: 15px;
}
.album1:hover {
  transform: translateY(-6px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.dis {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Monospace;
  font-size: large;
  margin-bottom: 6%;
}
.reson {
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
  font-family: Monospace;
  font-size: large;
  margin-top: 7%;
}
.tnx {
  margin-top: 100px;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
  font-family: Monospace;
  font-size: larger;
}
.songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main {
  padding: 2rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  /* text-align: center; */
  font-family: Monospace;
  font-size: large;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.topnav {
  overflow: hidden;
  /* background-color: black; */
  margin-left: 10px;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #fdebd0;
  color: black;
}
.topnav a.active {
  /* background-color: #04AA6D; */
  color: white;
}
#darkmood{
  font-size: large;
}

#darkmood  img{
  vertical-align: middle;
  margin-right: 10px; 
    width: 45 px; 
    height: 45px;
}

/* change team  */

/* light Style */
body {
  background-color: whitesmoke;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}
header {
  background-color: #b6b6b1;
  color: #000;
  font-family: Proza;
}
table {
  color: black;
}
.topnav {
  background-color: #b6b6b1;
}
#darkmood {
  background-color: #b6b6b1;
}
#darkmood:hover {
  background-color: #fdebd0;
  color: black;
}
button {
  background-color: #b6b6b1;
  color: black;
}

/* Dark Style */
body {
  background-color: #71706e;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}
table {
  color: whitesmoke;
}
header {
  background-color: #222222;
  color: whitesmoke;
}
.topnav {
  background-color: #222222;
}
#darkmood {
  background-color: black;
}
#darkmood:hover {
  background-color: #fdebd0;
  color: black;
}
button {
  background-color: black;
  color: whitesmoke;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #34495e;
    color: whitesmoke;
  }
  header {
    background-color: #222222;
  }
  table {
    color: black;
  }
  .topnav {
    background-color: #222222;
  }
  #darkmood {
    background-color: black;
  }
  #darkmood:hover {
    background-color: #fdebd0;
    color: black;
  }
  button {
    background-color: black;
    color: whitesmoke;
  }
}
:root {
  --background-color: whitesmoke;
  --text-color: #000;
  --header-bg: #b6b6b1;
  --button-bg: #b6b6b1;
  --button-text: #000;
  --b-color: #34495e;
  --nav-color: #b6b6b1;
  --dColor: #b6b6b1;
  --tColor: black;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}
.topnav {
  background-color: var(--nav-color);
}
table {
  color: var(--tColor);
}
header {
  background-color: var(--header-bg);
  color: var(--text-color);
  border-bottom: 1px solid #ccc;
}

#darkmood {
  background-color: var(--dColor);
}
button {
  background-color: var(--b-color);
}
body.dark-mode {
  --background-color: #71706e;
  --text-color: whitesmoke;
  --header-bg: #222222;
  --button-bg: black;
  --button-text: whitesmoke;
  --nav-color: #222222;
  --dColor: #222222;
  --tColor: black;
}
#fb {
  transition: transform ease 0.6s, box-shadow ease 0.6s;
}
#fb:hover {
  transform: translateY(-6px);
  box-shadow: none rgba(0, 0, 0, 0.25);
}
#inst {
  transition: transform ease 0.6s, box-shadow ease 0.6s;
}
#inst:hover {
  transform: translateY(-6px);
  box-shadow: none rgba(0, 0, 0, 0.25);
}
#git {
  transition: transform ease 0.6s, box-shadow ease 0.6s;
}
#git:hover {
  transform: translateY(-6px);
  box-shadow: none rgba(0, 0, 0, 0.25);
}