header {
  text-align: center;
  padding: 3rem;
  background-color: black;
  color: white;
  margin-bottom: 1px;
  margin-left: 10px;
}
#albums {
  text-align: center;
}
#headImage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* border-radius: 100%; */
}
#dic {
  text-align: center;
}
#footerImage {
  text-align: center;
}
#rock {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
#popular {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
#rap {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
#soul {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
#about {
  margin-left: 50px;
  margin-right: 50px;
}
.topnav {
  overflow: hidden;
  background-color: black;
  margin-left: 10px;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #fdebd0;
  color: black;
}
.topnav a.active {
  /* background-color: #04AA6D; */
  color: white;
}
#harry{
  border-radius: 100%;
}
#ariana{
  border-radius: 100%;
}
#jackson{
  border-radius: 100%;
}
#sahakira{
  border-radius: 100%;
}
#akon{
  border-radius: 100%;
}
#cardi{
  border-radius: 100%;
}