header {
  text-align: center;
  padding: 3rem;
  background-color: black ;
  color: white;
  margin-left: 10px;
  margin-bottom: 60px;
}
#DB{
  border: none;
  background-color: black;
  color: whitesmoke;
}
#DB:hover{
  background-color: #fdebd0;
  color: black  ;
}
#All{
  
  /* background-repeat: no-repeat; */
}
#albums {
  text-align: center;
  margin-bottom: 50px;
  color: whitesmoke;
}
#headImage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Tahoma;
  gap: 20px;
  /* border-radius: 100%; */
  margin-bottom: 60px;
}
#dic {
  text-align: center;
  margin-bottom: 80px;
}
#dis2 {
  margin-bottom: 30px;
  color: whitesmoke;
}
#footerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: Tahoma;
}
#about {
  margin-left: 50px;
  margin-right: 50px;
  color: whitesmoke;
  text-shadow: 1px 1px 1px 1px black;
  font-family: Tahoma;
}
.topnav {
  overflow: hidden;
  background-color: black;
  margin-left: 10px;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #fdebd0;
  color: black;
}
.topnav a.active {
  /* background-color: #04AA6D; */
  color: white;
}
#harry {
  /* border-radius: 100%; */
  text-align: center;
  color: whitesmoke;
  transition: transform ease 0.6s;
}
#harry:hover{
  transform: translateY(-6px);
}
#ariana {
  /* border-radius: 100%; */
  text-align: center;
  color: whitesmoke;
  transition: transform ease 0.6s;
}
#ariana:hover{
  transform: translateY(-6px);
}
#jackson {
  /* border-radius: 100%; */
  text-align: center;
  color: whitesmoke;
  transition: transform ease 0.6s;
}
#jackson:hover{
  transform: translateY(-6px);
}
#sahakira {
  /* border-radius: 100%; */
  text-align: center;
  color: whitesmoke;
  transition: transform ease 0.6s;
}
#sahakira:hover{
  transform: translateY(-6px);
}
#akon {
  /* border-radius: 100%; */
  text-align: center;
  color: whitesmoke;
  transition: transform ease 0.6s;
}
#akon:hover{
  transform: translateY(-6px);
}
#cardi {
  /* border-radius: 100%; */
  text-align: center;
  color: whitesmoke;
  transition: transform ease 0.6s;
}
#cardi:hover{
  transform: translateY(-6px);
}
#footer {
  margin-bottom: 50px;
  text-align: center;
  color: whitesmoke;
}
.img {
  border-radius: 100%;
  opacity: 1;
  transition: 0.5s ease;
}
.imgs{
  border-radius: 100%;
}
.img:hover {
  opacity: 0.3;
}
.imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* width: 10px */
}
#popular {
  text-align: center;
  color: whitesmoke;
}
#rock {
  text-align: center;
  color: whitesmoke;
}
#rap {
  text-align: center;
  color: whitesmoke;
}
#old {
  text-align: center;
  color: whitesmoke;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
