header {
  text-align: center;
  padding: 3rem;
  /* background-color: black; */
  /* color: white; */
  margin-bottom: 1px;
  margin-left: 10px;
}
#headImg {
  height: 200px;
  /* border-radius: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.img {
  opacity: 1;
  transition: 0.5s ease;
}
.img:hover {
  opacity: 0.3;
}
.imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* width: 10px */
}
#dis {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 80px;
  /* color: #f2f2f2; */
}
#dis2 {
  margin-left: 50px;
  margin-right: 50px;
  font-family: Tahoma;
  /* font-size: large; */
}
#albemHead {
  padding-top: 30px;
  margin-bottom: 90px;
  text-align: center;
  /* color: #f2f2f2; */
}
#chamara {
  font-family: Monospace;
  /* border-radius: 100%;
  box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.5); */
  transition: transform ease 0.6s;
}
#chamara:hover {
  transform: translateY(-6px);
  /* box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25); */
}
#bns {
  font-family: Monospace;
  transition: transform ease 0.6s;
}
#bns:hover {
  transform: translateY(-6px);
}
#iraj {
  font-family: Monospace;
  transition: transform ease 0.6s;
}
#iraj:hover {
  transform: translateY(-6px);
}
#kanchana {
  font-family: Monospace;
  transition: transform ease 0.6s;
}
#kanchana:hover {
  transform: translateY(-6px);
}
#adithya {
  font-family: Monospace;
  transition: transform ease 0.6s;
}
#adithya:hover {
  transform: translateY(-6px);
}
#sanuka {
  font-family: Monospace;
  transition: transform ease 0.6s;
}
#sanuka:hover {
  transform: translateY(-6px);
}
a {
  text-decoration: none;
  /* color: black; */
}
#old {
  font-family: Tahoma;
  
}
#morden {
  font-family: Tahoma;
  
}
#baila {
  font-family: Tahoma;
  
}
#rap {
  font-family: Tahoma;
  
}
.topnav {
  overflow: hidden;
  background-color: black;
  margin-left: 10px;
}
.topnav a {
  float: right;
  /* color: #f2f2f2; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #fdebd0;
  /* color: black; */
}
.topnav a.active {
  /* background-color: #04AA6D; */
  /* color: white; */
}
#artists {
  /* color: #f2f2f2;x */
}

body {
  background-color: var(--background-color, whitesmoke);
  color: var(--text-color, black);
  font-family: Tahoma;
  transition: background-color 0.5s, color 0.5s,
    background-image 0.5s ease-in-out;
}
#DB {
  background-color: var(--nbackground-color, #b6b6b1);
  color: var(--text-color, black);
  transition: background-color 0.5s, color 0.5s,
    background-image 0.5s ease-in-out;
}
a {
  color: var(--text-color, black);
}
header {
  background-color: var(--header-bg, #b6b6b1);
  color: var(--text-color, black);
  transition: background-color 0.5s, color 0.5s;
}
.topnav {
  background-color: var(--nav-color, #b6b6b1);
  color: var(--text-color,black);
}

/* dark mode */
body.dark-mode {
  --background-color: #71706e;
  --text-color: whitesmoke;
  --header-bg: #222222;
  --nbackground-color: #222222;
  --nav-color: #222222;
  background-image: url("./marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg");
}
body.light-mode {
  --background-color: whitesmoke;
  --text-color: black;
  --header-bg: #b6b6b1;
  --nbackground-color: #b6b6b1;
  --nav-color: #b6b6b1;
  background-image: url("./adrian-korte-5gn2soeAc40-unsplash.jpg");
}

button {
  float: right;
  width: 80px;
  height: 47px;
  color: white;
  border: none;
  font-family: Monospace;
  font-size: large;
}
button:hover {
  background-color: #fdebd0;
  color: black;
}
#DB {
  font-size: large;
}


#DB img {
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}